################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rainbow.Client.Core/bin/Debug
/Rainbow.Client.Core/obj/Debug
/Rainbow.Controls/bin/Debug
/Rainbow.Controls/obj/Debug
/Rainbow.Core/bin/Debug
/Rainbow.Core/obj/Debug
/Rainbow.Shell/bin/Debug
/Rainbow.Shell/obj/Debug
/Rainbow.UnitTest/bin/Debug
/Rainbow.UnitTest/obj/Debug
Rainbow.Controls/Rainbow.Controls.csproj.user
Rainbow.Share/bin/Debug/
Rainbow.Share/obj/Debug/
/Rainbow.Controls.Test/obj/Debug
/Rainbow.Controls.Test/bin/Debug
RainbowSolution.v12.suo
.vs/
packages/Spring.Services.2.0.1/Spring.Services.2.0.1.nupkg
packages/Spring.Services.2.0.1/lib/net35/Spring.Services.dll
packages/Spring.Services.2.0.1/lib/net35/Spring.Services.pdb
packages/Spring.Services.2.0.1/lib/net35/Spring.Services.xml
packages/Spring.Services.2.0.1/lib/net40/Spring.Services.dll
packages/Spring.Services.2.0.1/lib/net40/Spring.Services.pdb
packages/Spring.Services.2.0.1/lib/net40/Spring.Services.xml
packages/Spring.Services.2.0.1/lib/net45/Spring.Services.dll
packages/Spring.Services.2.0.1/lib/net45/Spring.Services.pdb
packages/Spring.Services.2.0.1/lib/net45/Spring.Services.xml
Rainbow.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rainbow.Contracts/obj/
Rainbow.Server/bin/Debug/
Rainbow.Server/obj/Debug/
Rainbow.Contracts/bin/Debug/
